@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf'); 
  }
html{
    font-size: 1.2rem;
    color: white;
    background-color: #212121;
    font-family:Roboto;
}
body{
    display: flex;
    margin: 0;
}
span{
    background-color: #F7931E;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.sideHero{
    background-color: black;
    height: 100vh;
    flex-basis: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.Form-blank{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 66vw;
}

.Form-blank > p{
    margin-left: 2%;
    font-size: 1.3rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    background-color: #303030;
    padding: 1.2rem;
    gap: 20px;
    margin-bottom: 40px;
    box-shadow: 2px 0px 5px 2px #424242;
}
input{
    border-radius: 10px;
    height: 30px ;
    border: none;
    color: whitesmoke;
    font-family: Roboto;
    font-size: 0.8rem;
    padding-left: 20px;
    background-color: #525252;
}

input:user-invalid{
    border: 1px solid red;
}

.input-block{
    width: 33%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
label{
    font-size: 0.8rem;
    margin-bottom: 5px;
}
button{
    width: 33%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #F7931E;
    color: #212121;
    font-size:1rem;
    font-weight: bold;
}
button:hover{
    box-shadow: 2px 0px 5px 5px #424242;
}
button:active{
    color: white;
    transform: scale(0.95);
}
@media only screen and (max-width: 1050px) {
    body{
        display: flex;
        flex-direction: column;
    }
    form{
        flex-direction: column;
        align-items: center;

    }
    html{
        font-size: 1rem;

    }
    .input-block{
        width: 80%;
    }
    input{
        height: 50px;
    }
    label{
        font-size: 1rem;
        margin-bottom: 5px;
    }
    button{
        width: 80%;
        margin-bottom: 20px;
    }
    .sideHero{
        background-color: black;
        height: 100vh;
        flex-basis: 33vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }


  }